.hero {
  position: relative;
  width: 100%;
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  overflow: hidden;
  color: var(--text-primary);
  box-shadow: 0 8px 30px var(--shadow-color);
  margin-top: 30px;

  @media (max-width: 768px) {
    padding: 3rem 1.5rem;
  }
}

.grid {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 3rem;
  align-items: center;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.15;
  background: linear-gradient(
                  90deg,
                  var(--primary-color),
                  var(--tertiary-color)
  );
  -webkit-background-clip: text;
  color: transparent;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.highlight {
  color: var(--secondary-color);
}

.description {
  font-size: 1.2rem;
  line-height: 1.7;
  max-width: 550px;
  color: var(--text-secondary);
}

.badgeWrapper {
  margin: 0.8rem 0 0.4rem;
}

.actions {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  width: 100%;

  @media (max-width: 900px) {
    justify-content: center;
  }@media (max-width: 480px) {
flex-wrap: wrap  }

  a button {
    font-weight: 600;
    width: 100%;
  }

  a button:hover {
    background: var(--button-hover);
  }
}

.actions a {

  width: 100%;
}

.right {
  display: flex;
  justify-content: center;
}

.heroImage {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 20px 50px rgba(108, 92, 231, 0.2); /* м'яка фіолетова тінь */
}
