.mediaWrapper {
  width: 100%;
  height: 100%;       // <-- найважливіше
  position: relative; // <-- для next/image fill
  overflow: hidden;
  border-radius: 12px;
  padding: 0 20px;
}


.image {
  object-fit: cover;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.hoverable {
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.25s ease;
}

.hoverable:hover .overlay {
  opacity: 1;
}

.hoverText {
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
}
