.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.heading {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -0.01em;
  color: var(--secondary-color);
}

.subheading {
  font-size: 1.15rem;
  color: var(--text-secondary);
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  gap: 2.2rem;

  grid-template-columns: 1fr;

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
