@import "@/resources/mixins.scss";

.grid {
  display: grid !important;

  @include main-width;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px !important;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px !important;
  }
}