.fadeBlock {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  padding: var(--main-padding);
}

.fadeBlock.visible {
  opacity: 1;
  transform: translateY(0);
}
